@model NewPasswordViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Jaguar Portal - Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>
<body>
    <div class="containerLogin">
        <div class="text-center">
            <h1 class="visually-hidden">Jaguar Portal</h1>
            <img src="~/img/jaguar.svg" alt="Jaguar Portal logo" class="logo" />
        </div>
        <div class="mt-4">
            <form method="post" id="newPasswordForm">

                @if (string.IsNullOrWhiteSpace(Model.Message))
                {
                    <h4>New password</h4>
                    <input asp-for="Key" autofocus type="hidden" required>

                    <div class="form">
                        <div class="form-group mb-2">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" autofocus type="password" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="form-group mb-2">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm password" required>
                        </div>
                    </div>
                    <div class="summary" style="width:340px">
                    </div>

                    <div class="w-100">
                        <div class="form-group text-end">
                            <a href="@Url.Action("Index","Login")" class="btn btn-outline-primary btn-light">Back</a>
                            <button class="btn btn-primary" type="submit">Change password</button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="text-center alert-danger alert text-danger">
                        @Html.Raw(Model.Message)
                    </div>
                    <div class="text-center">
                        <a href="@Url.Action("Index","Login")" class="btn btn-primary">Back</a>
                    </div>
                }

            </form>
        </div>
    </div>

    <script>
        var urlNewPasswordForm = '@Url.Action("NewPassword","Login")';
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/NewPassword.js" asp-append-version="true"></script>
</body>
</html>
